@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #f8f8f8f8;
  --foreground: #171717;
}

p{
  padding: 0;
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
} */

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Poppins', sans-serif;
}

.text-primary-color {
  color: #1C5583;

}

.background {
  background-color: #F8F8F8;
}